:root {
    --primary-txt-color:#124e83;
    --secondary-txt-color: #212121;
    --third-text-color: #757575;
    --accent-color: #229cd2;
    --background-grey-color: #F5F4FA;
    --background-accent-color: #cfe5f3;
    --background-main-color: #FFFFFF;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    margin: 0;
}

a {
    display:block;
}

ul{
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width:100%; 
    height: auto;
}
p {
    display: block;
    
    text-indent: 3ch;
  }
li {
    padding-left: 15px; /* Отступ от маркера до текста */
   }
body {
    background-color: var(--background-main-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.container {
    width: 900px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {
    padding-top: 40px;
    padding-bottom: 20px;
    
}
/*header*/
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.serch {
    display: flex;
    align-items: center; 
    color: #229cd2;
    font-weight: 500;
    font-size: 16px;
}
.serch-wraper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-left: 16px;
   
   font-size: 18px;
   padding: 0 30px;
   border: 1px solid #ebebeb;
   background-color: #ebebeb;
   box-sizing: border-box;
   border-radius: 10px;
   
}
/*hero*/
.hero {
    background-position: center;
    background-color: var(--background-maine-color);

    background-image:    
    url("../img/offer_landing-hero-bg.png");
    background-repeat: no-repeat;
    background-size: 70%;
      
    

    text-align: center; 
    max-width: 1600рх;
    height: 270px;
    margin-right: auto;
    margin-left: auto;

    padding-top: 50px;
    padding-bottom: 50px;
}
.hero-title {
    
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-txt-color);
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 30px;
}

/*intro*/
.intro-txt {
    
    max-width: 600px;
    text-align: justify;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    line-height: 1.5;

}
.txt-accent {
    font-weight: bold;
    color: #212121;
}
.intro-wraper {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: -60px;
}
/*skills*/
.section-title {
    font-size: 33px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--primary-txt-color);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.skills-title {
     background-color: var(--background-accent-color)
}
.skills-list {
    max-width: 600px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
}
.offer {
    
    background-image:    
    url("../img/offer_landing-bg003.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: top center;
    

}

.offer-list {
    max-width: 600px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.7;
    margin-bottom: 150px;
}

.answer-txt{
    max-width: 450px;
    text-align: justify;
    align-items: center;
    margin-left: 390px;
    line-height: 1.5; 
    margin-bottom: 80px;
}
.footer {
    padding-top: 60px;
    background-image:    
    url("../img/offer_footer.png");
    background-repeat: no-repeat;
    background-size: 70%;
    
    background-position: top center;

    
}
.footer-adress{
    display: flex;
    justify-content: space-between;
}
.footer-adress-list{
    
    max-width: 200px;
    font-style: normal;
    
}
.footer-adress-main{
margin-bottom: 20px;
}
.footer-adress-link{
    color: #212121;
    font-weight: 500;
    text-align: left;
    line-height: 1.5;
}

.team-list__social-list{
    display: flex;
    
}